/* line 4, ../sass/styles.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/styles.scss */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #247BA0;
  margin: 0;
}

/*  HEADER
--------------------------------------------*/
/* line 16, ../sass/styles.scss */
header {
  position: relative;
  overflow: visible;
}
/* line 19, ../sass/styles.scss */
header nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  overflow: visible;
  background: #FF1654;
  color: #ffffff;
  /*  HAMBURGER ANIMATION
  --------------------------------------------*/
}
@media screen and (max-width: 879px) {
  /* line 28, ../sass/styles.scss */
  header nav > ul {
    display: none;
    margin: 3.2em 0 0 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 55em) {
  /* line 28, ../sass/styles.scss */
  header nav > ul {
    width: auto;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    margin-bottom: -3px;
    margin-top: 0;
    padding-left: 0;
  }
}
/* line 44, ../sass/styles.scss */
header nav > ul > li {
  display: block;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 55em) {
  /* line 44, ../sass/styles.scss */
  header nav > ul > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
  }
}
/* line 54, ../sass/styles.scss */
header nav > ul > li > a {
  text-decoration: none;
  padding: 1em 2em;
  display: block;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  color: #fff;
}
@media screen and (min-width: 55em) {
  /* line 54, ../sass/styles.scss */
  header nav > ul > li > a {
    font-size: 14px;
    padding: 0.8em;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto;
  }
}
@media screen and (min-width: 55em) {
  /* line 54, ../sass/styles.scss */
  header nav > ul > li > a {
    padding: 1em 1.7em;
  }
}
/* line 77, ../sass/styles.scss */
header nav li ul {
  display: none;
  z-index: 5;
  list-style: none;
  padding: 0px;
  position: relative;
  background: #ef003f;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 55em) {
  /* line 77, ../sass/styles.scss */
  header nav li ul {
    width: 232px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
/* line 92, ../sass/styles.scss */
header nav li ul li {
  display: block;
}
/* line 95, ../sass/styles.scss */
header nav li ul li a {
  display: block;
  padding: 0.7em 1.6em;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 55em) {
  /* line 95, ../sass/styles.scss */
  header nav li ul li a {
    margin: 0;
    text-align: left;
  }
}
/* line 107, ../sass/styles.scss */
header nav li ul li:last-child a {
  border-bottom: none;
}
/* line 112, ../sass/styles.scss */
header nav .menu-text {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  display: none;
}
@media screen and (max-width: 879px) {
  /* line 112, ../sass/styles.scss */
  header nav .menu-text {
    display: block;
    color: #fff;
    float: right;
    margin-right: 1em;
  }
}
/* line 139, ../sass/styles.scss */
header nav .menu-text:focus {
  outline: none;
}
/* line 142, ../sass/styles.scss */
header nav .menu-text span {
  display: block;
  position: absolute;
  top: 24px;
  right: 0px;
  height: 4px;
  width: 30px;
  background: #fff;
}
/* line 151, ../sass/styles.scss */
header nav .menu-text span::before,
header nav .menu-text span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #fff;
  content: "";
}
/* line 161, ../sass/styles.scss */
header nav .menu-text span::before {
  top: -10px;
}
/* line 164, ../sass/styles.scss */
header nav .menu-text span::after {
  bottom: -10px;
}
/* line 167, ../sass/styles.scss */
header nav .menu-toggle-switch {
  background-color: #FF1654;
  min-height: 50px;
  width: 100%;
}
/* line 172, ../sass/styles.scss */
header nav .menu-toggle-switch span::before,
header nav .menu-toggle-switch span::after {
  -webkit-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
}
/* line 177, ../sass/styles.scss */
header nav .menu-toggle-switch span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
/* line 182, ../sass/styles.scss */
header nav .menu-toggle-switch span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* line 187, ../sass/styles.scss */
header nav .menu-toggle-switch.active {
  background-color: #FF1654;
}
/* line 190, ../sass/styles.scss */
header nav .menu-toggle-switch.active span {
  background-color: #FF1654;
}
/* line 193, ../sass/styles.scss */
header nav .menu-toggle-switch.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 199, ../sass/styles.scss */
header nav .menu-toggle-switch.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 206, ../sass/styles.scss */
header nav::before {
  background: #fff;
  height: 40px;
  display: block;
  width: 100%;
  border: solid 10px #008000;
}

/*  HEADER END
--------------------------------------------*/
